/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-image: url("images/diamonds-light.png"), -webkit-linear-gradient(#56c7d1, #1a8c99, darkcyan);
  background-image: url("images/diamonds-light.png"), linear-gradient(#56c7d1, #1a8c99, darkcyan);
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #514d46;
}

span.top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  z-index: 1000;
  background: #1a8c99;
}

span.greenline {
  position: relative;
  bottom: 30px;
  display: block;
  border-top: 2px dotted #c3cf1b;
  margin: 0 45%;
}

.nav-wrapper {
  width: 100%;
  top: 0;
  padding-top: 3%;
  position: relative;
}

.language {
  position: absolute;
  top: 30px;
  right: 150px;
}
.language a {
  text-decoration: none;
  color: #514d46;
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav {
  position: relative;
  margin-top: -25px;
}
nav ul {
  position: relative;
  bottom: 5px;
  width: 55%;
  margin: 0 auto;
}
nav ul li {
  list-style: none;
  font-size: 2.3em;
  display: inline;
  padding: 2% 3%;
}
nav ul li a {
  text-decoration: none;
  color: #514d46;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-bottom: 1px double transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
nav ul li a:hover {
  border-bottom: 1px double #c3cf1b;
  color: #1a8c99;
}

.active {
  color: #1a8c99;
}

.fixed {
  position: fixed;
  background: rgba(255, 255, 255, 0.75);
}

svg#circle {
  position: relative;
  left: 130px;
  top: -7px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s linear forwards;
  -moz-animation: dash 3s linear forwards;
  animation: dash 3s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.about:last-child {
  margin-right: 0;
}
.about .img-container {
  position: relative;
  width: 30%;
  float: left;
}
.about .img-container img.tobz {
  position: absolute;
  float: left;
  left: 137px;
  height: 285px;
  width: 285px;
  border-radius: 50%;
}
.about .spiel {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
.about .spiel:last-child {
  margin-right: 0;
}
.about .spiel p {
  font-size: 2em;
  margin-left: 5%;
  width: 95%;
  line-height: 1.5em;
}
.about .spiel p a {
  text-decoration: none;
  border-bottom: 1px solid #1a8c99;
  color: #514d46;
}

ul.social {
  width: 100%;
}
ul.social li {
  list-style: none;
  font-size: 5em;
  display: inline;
  padding: 0 1%;
}
ul.social li a {
  color: #514d46;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
ul.social li a:hover {
  color: #1a8c99;
}

.skill-set {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: url("images/extra_clean_paper.png") repeat top left;
  border-top: 2px solid #1a8c99;
  border-bottom: 2px solid #1a8c99;
  padding: 0 10%;
}
.skill-set:last-child {
  margin-right: 0;
}
.skill-set .skills {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.skill-set .skills:last-child {
  margin-right: 0;
}
.skill-set .skills .fa {
  font-size: 10em;
  width: 100%;
  text-align: center;
}
.skill-set .skills h2 {
  color: #1a8c99;
  font-weight: 400;
}

.skill-description p {
  font-size: 2.3em;
  text-align: center;
}

.projects {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 2px solid #1a8c99;
  padding-bottom: 5%;
}
.projects:last-child {
  margin-right: 0;
}
.projects .project-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: inline-block;
}
.projects .project-wrapper:last-child {
  margin-right: 0;
}
.projects .project-wrapper a {
  font-size: 2.5em;
  text-decoration: none;
  text-align: center;
  color: #1a8c99;
  font-weight: 700;
  display: block;
  text-shadow: 1px 1px 4px #000;
}
.projects .project-wrapper p {
  margin: 15px auto;
  width: 70%;
  text-align: center;
  font-size: 1.8em;
}

.video-wrapper {
  width: 100%;
}
.video-wrapper video {
  width: 100%;
  height: 325px;
}

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: url("images/extra_clean_paper.png") repeat top left;
}
footer:last-child {
  margin-right: 0;
}
footer .contacts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
}
footer .contacts:last-child {
  margin-right: 0;
}
footer .contacts p {
  position: relative;
  bottom: 15px;
  font-size: 2.8em;
  text-align: center;
}

.mail {
  position: relative;
  z-index: 10;
  font-size: 3em;
  text-decoration: none;
  color: #514d46;
}

.fa-send {
  position: absolute;
  right: 200px;
  z-index: 0;
  font-size: 12em;
  color: #99cacf;
}

.copy {
  font-size: 2em;
  text-align: center;
  clear: both;
  margin-top: 20px;
}

@media (max-width: 1310px) {
  .about .spiel p {
    margin-left: 10%;
  }

  nav ul {
    width: 60%;
  }
}
@media (max-width: 1245px) {
  .about .spiel p {
    margin-left: 15%;
  }

  .projects {
    text-align: center;
  }
  .projects .project-wrapper {
    float: none;
    width: 60%;
  }
}
@media (max-width: 1192px) {
  .about .spiel p {
    margin-left: 20%;
  }

  nav ul {
    width: 70%;
    bottom: 5px;
  }

  svg.logo {
    position: relative;
    top: 10px;
  }
}
@media (max-width: 1050px) {
  html {
    font-size: 52.5%;
  }

  .about .spiel p {
    margin-left: 10%;
  }

  .about .img-container {
    width: 40%;
    margin-left: -15%;
  }

  .fa-send {
    right: 120px;
  }
}
@media (max-width: 925px) {
  html {
    font-size: 47.5%;
  }

  svg.logo {
    height: 43px;
    width: 59px;
  }
}
h1 {
  font-size: 4.8em;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}
