@import "bourbon/bourbon";

$peagreen : #bada55;
$darkcyan : #008B8B;
$cyan : #56c7d1;
$logoblue : #1a8c99;
$accenttaupe : #969086;
$darkbrown : #706d68;

html {
  font-size: 62.5%;
  font-family: $verdana;
}

body {
  @include background-image (url("images/diamonds-light.png"), linear-gradient($cyan, $logoblue, $darkcyan));
  background-repeat: repeat;
}

span.top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: $logoblue

}

.nav-wrapper {
  width: 100%;
  @include clearfix;
  position: absolute;
  z-index: 900;
  top: 0;
  padding: 3%;
}

.logo-wrap {
  margin-left: 10%;
  padding-top: 2%;
  position: relative;
  width: 10%;
}

.logo {
  @include animation(tada 1s linear);
}

@include keyframes(tada) {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

nav {
  width: 45%;
  margin-left: 40%;
  float: left; 
  ul {
    margin: 0;
    padding: 1%;
    position: relative;

    li {
      list-style: none;
      font-size: 2.3rem;
      display: inline;
      padding: 2% 3%;
      a {
        color: $darkbrown;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          border-bottom: 1px solid $darkbrown;
          @include transition (0.3s all);
        }
      }
    }
  }
  .language {
    position: absolute;
    bottom: 30px;
    right: 20px;
    a {
      text-decoration: none;
      color: $darkbrown;
      font-size: 1.5rem;
      text-transform: uppercase;
      &:hover {
        border-bottom: 1px solid $darkbrown;
      }
    }
  }
}

header {

}

.img-container {
  width: 100%;
  position: relative;
  @include clearfix;
  img {
    position: absolute;
    left: 198px;
    top: 98px;
    height: 285px;
    width: 285px;
    border-radius: 50%;
  }
}

svg {
  position: absolute;
  left: 190px;
  top: 90px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  @include animation(dash 5s linear forwards);
}

@include keyframes(dash) {
  to {
    stroke-dashoffset: 0;
  }
}




