@import "bourbon/bourbon";

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$peagreen : #bada55;
$darkcyan : #008B8B;
$cyan : #56c7d1;
$logoblue : #1a8c99;
$accenttaupe : #969086;
$darkbrown : #706d68;

html {
  font-size: 62.5%;
  font-family: $verdana;
}

body {
  @include background-image (url("images/diamonds-light.png"), linear-gradient($cyan, $logoblue, $darkcyan));
  background-repeat: repeat;
}

span.top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: $logoblue

}

.nav-wrapper {
  width: 100%;
  z-index: 900;
  top: 0;
  padding: 3%;
  position: relative;
}

  .language {
    position: absolute;
    top: 30px;
    right: 150px;
    a {
      text-decoration: none;
      color: $darkbrown;
      font-size: 1.5rem;
      text-transform: uppercase;
      &:hover {
        border-bottom: 1px solid $darkbrown;
        @include transition(border-color 0.5s ease-out)
      }
    }
  }

.logo {
  @include animation(tada 1s linear);
}

@include keyframes(tada) {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

nav {
  margin-top: -25px;
  ul {
    width: 70%;
    margin: 0 auto;
    li {
      list-style: none;
      font-size: 2.3rem;
      display: inline;
      padding: 2% 3%;
      a {
        color: $darkbrown;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          border-bottom: 1px solid $darkbrown;
          
        }
      }
    }
  }

}

header {
  padding-top: 200px;
}

.img-container {
  width: 100%;
  position: relative;
  @include clearfix;
  img {
    position: absolute;
    left: 198px;
    top: 98px;
    height: 285px;
    width: 285px;
    border-radius: 50%;
  }
}

svg#circle {
  position: absolute;
  left: 190px;
  top: 90px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  @include animation(dash 5s linear forwards);
}

@include keyframes(dash) {
  to {
    stroke-dashoffset: 0;
  }
}
