@import "bourbon/bourbon";
@import "neat/neat";

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$logogreen : #c3cf1b;
$darkcyan : #008B8B;
$cyan : #56c7d1;
$logoblue : #1a8c99;
$lightlogo : #99cacf;
$accenttaupe : #969086;
$darkbrown : #514D46;


html {
  font-size: 62.5%;
  font-family: $verdana;
}

body {
  @include background-image (url("images/diamonds-light.png"), linear-gradient($cyan, $logoblue, $darkcyan));
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $darkbrown;
}

span.top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  z-index: 1000;
  background: $logoblue
}

span.greenline {
  position: relative;
  bottom: 30px;
  display: block;
  border-top: 2px dotted $logogreen;
  margin: 0 45%; 
}


.nav-wrapper {
  width: 100%;
  top: 0;
  padding-top: 3%;
  position: relative;
}

.language {
  position: absolute;
  top: 30px;
  right: 150px;
  a {
    text-decoration: none;
    color: $darkbrown;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

nav {
  margin-top: -25px;
  ul {
    width: 75%;
    margin: 0 auto;
    li {
      list-style: none;
      font-size: 2.3rem;
      display: inline;
      padding: 2% 3%;
      a {
        text-decoration: none;
        color: $darkbrown;
        font-size: 2.5rem;
        text-transform: uppercase;
        border-bottom: 1px double transparent;
        @include transition(all 0.3s ease-in);
        &:hover {
          border-bottom: 1px double $logogreen;
          color: $logoblue;
        }
      }
    }
  }
}

svg#circle {
  position: relative;
  left: 130px;
  top: -7px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  @include animation(dash 3s linear forwards);
}

@include keyframes(dash) {
  to {
    stroke-dashoffset: 0;
  }
}

.about {
  @include span-columns(12);
  .img-container {
    position: relative;
    width: 30%;
    float: left;
    img.tobz {
      position: absolute;
      float: left;
      left: 137px;
      height: 285px;
      width: 285px;
      border-radius: 50%;
    }
  }

  .spiel {
    @include span-columns(7);
    p {
      font-size: 2em;
      margin-left: 5%;
      width: 95%;
      line-height: 1.5em;
      a {
        text-decoration: none;
        border-bottom: 1px solid $logoblue;
        color: $darkbrown;
      }
    }
  }
}

ul.social {
  width: 100%;
  li {
    list-style: none;
    font-size: 5em;
    display: inline;
    padding: 0 1%;
    a {
      color: $darkbrown;
      text-decoration: none;
      @include transition(all 0.3s ease-in);
      &:hover {
        color: $logoblue;
      }
    }
  }
}

.skill-set {
  @include span-columns(12);
  background: url('images/extra_clean_paper.png') repeat top left;
  border-top: 2px solid $logoblue;
  border-bottom: 2px solid $logoblue;
  padding: 0 10%;
  .skills {
    @include span-columns(4);
    .fa {
      font-size: 10em;
      width: 100%;
      text-align: center;
    }
    h2 {
      color: $logoblue;
      font-weight: 400;
    }
  }
}

.skill-description p {
  font-size: 2.3em;
  text-align: center;
}

.projects {
  @include span-columns(12);
  border-bottom: 2px solid $logoblue;
  padding-bottom: 5%;
  .project-wrapper {
    @include span-columns(6);
    display: inline-block;
    a {
      font-size: 2.5em;
      text-decoration: none;
      text-align: center;
      color: $logoblue;
      font-weight: 700;
      display: block;
      text-shadow: 1px 1px 4px #000;
    }
    p {
      margin: 15px auto;
      width: 70%;
      text-align: center;
      font-size: 1.8em;
    }
  }
}

.video-wrapper {
  width: 100%;
  video {
    width: 100%;
    height: 300px;
  }
}

footer {
  @include span-columns(12);
  background: url('images/extra_clean_paper.png') repeat top left;
  .contacts {
    @include span-columns(4);
    text-align: center;
    p {
      position: relative;
      bottom: 15px;
      font-size: 2.8em;
      text-align: center;
    }
  }
}

.mail {
  position: relative;
  z-index: 10;
  font-size: 3em;
  text-decoration: none;
  color: $darkbrown;
}  

.fa-send {
  position: absolute;
  right: 200px;
  z-index: 0;
  font-size: 12em;
  color: $lightlogo;
}

.copy {
  font-size: 2em;
  text-align: center;
  clear: both;
  margin-top: 20px;
}




















h1 {
  font-size: 4.8em;
  font-weight: 300;
  text-align: center;
}


h2 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}
