body {
  background-image: url("images/diamonds-light.png"), -webkit-linear-gradient(#56c7d1, #1a8c99, darkcyan);
  background-image: url("images/diamonds-light.png"), linear-gradient(#56c7d1, #1a8c99, darkcyan);
  background-repeat: repeat;
}

nav ul {
  width: 100%;
}
nav ul li {
  list-style: none;
}
